body {
	background-color: black;
	background-image: url("upeerstairs.gif");
	background-size: 200px 200px;

}



img {
	width: 500px;
}



#ball {
	width: 100px;
	height: 100px;
	background-color: yellow;
	display: inline;
	float: left;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

#ball:hover{
	 
	opacity: 0.2;

}

#door {
	width: 100px;
	height: 100px;
	background-color: red;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;

}
#door:hover {
	
	opacity: 0.2;
}
#window {
	width: 100px;
	height: 100px;
	background-color: blue;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}
#window:hover {
	
	opacity: 0.2;
}
.clicks {
	position: fixed;
		top: 0;
		left: 0;

}

table {
	margin: 0 auto;
}

#doorway {
	display: none;
}

#doorway.hide {
	display: none;
}

#doorway.show {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 30%;
	left: 20%;

	
}

#bball {
	display: none;
}

#bball.hide {
	display: none;
}

#bball.show {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1;
}

#win {
	display: none;
}
#win.hide {
	display: none;
}

#win.show {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	left: 50%;


}

@media all and (min-width: 801px) and (max-width: 1300px){
	img {
		width: 300px;
	}
	#ball {
	width: 90px;
	height: 90px;
	background-color: yellow;
	display: inline;
	float: left;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

#ball:hover{
	 
	opacity: 0.2;

}

#door {
	width: 90px;
	height: 90px;
	background-color: red;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;

}
#door:hover {
	
	opacity: 0.2;
}
#window {
	width: 90px;
	height: 90px;
	background-color: blue;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}
#window:hover {
	
	opacity: 0.2;
}
.clicks {
	position: fixed;
		top: 0;
		left: 0;

}
}

@media all and (min-width: 630px) and (max-width: 800px){
	img {
		width: 250px;
	}
	#ball {
	width: 85px;
	height: 85px;
	background-color: yellow;
	display: inline;
	float: left;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

#ball:hover{
	 
	opacity: 0.2;

}

#door {
	width: 85px;
	height: 85px;
	background-color: red;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;

}
#door:hover {
	
	opacity: 0.2;
}
#window {
	width: 85px;
	height: 85px;
	background-color: blue;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}
#window:hover {
	
	opacity: 0.2;
}
.clicks {
	position: fixed;
		top: 0;
		left: 0;

}
}

@media all and (min-width: 480px) and (max-width: 630px){
	img {
		width: 180px;
	}
	#ball {
	width: 80px;
	height: 80px;
	background-color: yellow;
	display: inline;
	float: left;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

#ball:hover{
	 
	opacity: 0.2;

}

#door {
	width: 80px;
	height: 80px;
	background-color: red;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;

}
#door:hover {
	
	opacity: 0.2;
}
#window {
	width: 80px;
	height: 80px;
	background-color: blue;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}
#window:hover {
	
	opacity: 0.2;
}
.clicks {
	position: fixed;
		top: 0;
		left: 0;

}
}

@media all and (min-width: 300px) and (max-width: 479px){
	img {
		width: 140px;
	}
	#ball {
	width: 75px;
	height: 75px;
	background-color: yellow;
	display: inline;
	float: left;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

#ball:hover{
	 
	opacity: 0.2;

}

#door {
	width: 75px;
	height: 75px;
	background-color: red;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;

}
#door:hover {
	
	opacity: 0.2;
}
#window {
	width: 75px;
	height: 75px;
	background-color: blue;
	display: inline;
	float: right;
	opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}
#window:hover {
	
	opacity: 0.2;
}
.clicks {
	position: fixed;
		top: 0;
		left: 0;

}
}